<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1 class="text-warning">Błąd autoryzacji</h1>
      <p>Wystąpił problem z autoryzacją.</p>
    </div>
  </div>
  <% include ./blocks/footer %>