<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1>Dashboard <%= bot.user.username %></h1>
      <h4><% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>Nie ma opisu.<% }%></h4>
      <p><a class="btn btn-primary" href="/commands" role="button">Pomoc w komendach »</a></p>
    </div>
  </div>
<% include ./blocks/footer %>